# Argus API Tracer Configuration File

[file_to_dll]
# Format: header_file = dll_name
ntifs.h = ntdll
winternl.h = ntdll
ntstatus.h = ntdll
ntdef.h = ntdll
fileapi.h = kernel32
processthreadsapi.h = kernel32
memoryapi.h = kernel32
handleapi.h = kernel32
libloaderapi.h = kernel32
debugapi.h = kernel32
consoleapi.h = kernel32
winbase.h = kernel32
synchapi.h = kernel32
namedpipeapi.h = kernel32
wow64apiset.h = kernel32
winuser.h = user32
winreg.h = advapi32
winsvc.h = advapi32

[files_to_process]
# List of header files to process
consoleapi.h
fileapi.h
ntifs.h
processthreadsapi.h
winreg.h

[ignored_functions]
RtlCompareMemoryUlong
RtlFillMemoryUlong
RtlMoveMemory
RtlCopyMemory
RtlZeroMemory
RtlFillMemory
RtlCompareMemory
RtlEnterCriticalSection
RtlLeaveCriticalSection
RtlTryEnterCriticalSection
RtlInitUnicodeString
RtlCompareUnicodeString
RtlEqualUnicodeString
RtlUnwind
RtlLookupFunctionEntry
RtlVirtualUnwind